<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <title>Edit officer</title>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <style>
        a {
            color: #555
        }
        a:hover {
            color: black
        }
    </style>
</head>

<body style="height:100vh">
    <div class="d-flex flex-row">
        <nav class="navbar navbar-light bg-light flex-column" 
        style="height:100vh;width: 250px;justify-content: start;align-items: flex-start;" >
            <a class="navbar-brand mx-auto">
              Chiang Mai Bank
            </a>
            <hr style="height:1px;width:90%;;background: black">
        </nav>
        <div class="container">
            <h2 class="text-left mt-3">Edit Profile</h2>
            <hr style="height:1px;width:100%;;background:black">
            <!-- <form action="/editOfficer" method="POST">
                <div class="form-row">
                    <div class="col-6">
                        <label class="ml-3" for="id">ID</label>
                        <input type="text" class="form-control mt-auto" id="id" name="id" placeholder="ID" required>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="col-6">
                        <label class="ml-3" for="fname">Firstname</label>
                        <input type="text" class="form-control mt-auto" style="width:300px;" id="fname" name="fname" placeholder="Firstname" required>
                    </div>
                    <div class="col-6">
                        <label class="ml-3" for="sname">Surname</label>
                        <input type="text" class="form-control mt-auto" style="width:300px;" id="sname" name="lname" placeholder="Surname" required>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="col-6">
                        <label class="ml-3" for="DoB">Date of birth</label>
                        <input type="date" class="form-control"  style="width:300px;" name="DoB" id="Dob">
                    </div>
                    <div class="col-6">
                        <label class="ml-3">Gender</label>
                        <select class="form-control" name="gender" style="width: 100px">
                            <option value="0">Male</option>
                            <option value="1">Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-row mt-4">
                    <button type="submit" class="btn btn-outline-secondary ml-2 px-5">Save</button>
                </div>
            </form> -->
            <form action="/editOfficer" method="POST">
                <div class="form-row mt-3">
                    <div class="col-6">
                        <label class="ml-3" for="fname">Firstname</label>
                        <input type="text" class="form-control mt-auto" style="width:300px;" id="fname" name="fname" placeholder="Firstname" required>
                    </div>
                    <div class="col-6">
                        <label class="ml-3" for="sname">Surname</label>
                        <input type="text" class="form-control mt-auto" style="width:300px;" id="sname" name="lname" placeholder="Surname" required>
                    </div>
                </div>
                <div class="form-row mt-3">
                    <div class="col-6">
                        <label class="ml-3" for="id">ID</label>
                        <input type="text" maxlength="13" minlength="13" class="form-control mt-auto" style="width:300px;" id="ssn" name="ssn" placeholder="ID" required>
                    </div>
                    <div class="col-6">
                        <label class="ml-3">Gender</label>
                        <select class="form-control" name="gender" style="width: 100px" required>
                            <option value="0">Male</option>
                            <option value="1">Female</option>
                        </select>
                    </div>
                </div>
                <div class="form-row mt-4">
                    <button type="submit" class="btn btn-outline-secondary ml-2 px-5">Save</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>