<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <title>Deposit Withdraw</title>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script>
        
    </script>
</head>

<body style="height:100vh">
        <div class="d-flex flex-row">
            <nav class="nav navbar navbar-light bg-light flex-column" 
            style="height:100vh;width: 250px;justify-content: start;align-items: flex-start;" >
                <a class="navbar-brand mx-auto">
                    Chiang Mai Bank
                </a>
                <hr style="height:1px;width:90%;;background: black" class="mx-auto">
                <a class="ml-auto mr-0 nav-link">Create Customer</a>
                <a class="ml-auto mr-0 nav-link">Customer List</a>
                <a class="ml-auto mr-0 nav-link">Create Loan</a>
                <a class="ml-auto mr-0 nav-link">Loan List</a>
                <a class="ml-auto mr-0 nav-link">Deposit/Withdtaw</a>
            </nav>
        </div>
    </body>

</html>